body {
      margin: 0;
      font-family: "Roboto", sans-serif;
    }
    .header {
      background-color: #1b213d;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25;
      border-radius: 0 0 0 0 ;
    }
    .logo {
      width: 80px;
      transform: transform 1.3s ease, filter 0.3s ease;
      filter: drop-shadow(0 0 5px rgba(51, 86, 241, 0.3));
    }
    .logo:hover {
      transform: scale(1.08);
      filter: drop-shadow(0 0 15px #d8dce4) drop-shadow(0 0 30px #c2c1d8) ;
      
    }
    .header-links a {
      color: white;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 10px;
    }
    .header-links a:hover {
      background-color: #547ff7;
       transform: scale(1.05);
     box-shadow: 0 0 20px rgba(37, 8, 43, 0.5);
     filter: drop-shadow(0 0 15px #6e80e6) drop-shadow(0 0 30px #5085f7);
    }
    .header-links button {
      background-color: #5443e9;
      color: rgb(240, 235, 240);
      padding: 10px 30px;
      border: none;
      border-radius: 15px;
    }
                
          /*For button*/
          .btn {
  background-color: #3235e2;
  color: rgb(222, 224, 245);
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(1, 1, 36, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(67, 21, 233, 0.3));
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(74, 71, 238, 0.5);
  filter: drop-shadow(0 0 15px #5285f5) drop-shadow(0 0 30px #2d18a1);
  background-color: #070225;
}

      /* landing-main-page*/

        .landing-page {
      width: "100";
       background-color: #574ddd;
       display: flex;
       justify-content: space-between;
       padding:5px 30px;
       align-items: center;
       color: #fff;
       border-radius: 0 0 20px 20px;
     }
   .landing-page-action input{
    
     border-radius: 50px;
     border: none;
     outline: none;
     height: 30px;
     padding: 0 10px;
   }
   .landing-page-action:hover input{
      transform: scale(1.05);
     box-shadow: 0 0 20px rgba(37, 8, 43, 0.5);
     filter: drop-shadow(0 0 15px #3437e9) drop-shadow(0 0 30px #567cf7);
    }

   
   
   .landing-page-action button{
     border-radius: 50px;
     border: none;
     outline: none;
     height: 30px;
     padding: 0 10px;
     background-color: #111052;
     color: rgb(240, 235, 240);
   }
 
   .landing-page-left {
     width: 550px
   }
   /*for all images*/

   .image-container {
      border-radius: 20px;
     width: 700px;
     box-shadow: 0 0 10px rgba(37, 8, 43, 0.3);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     filter: drop-shadow(0 0 5px rgba(66, 54, 240, 0.3));
   }
   .image-container:hover {
     transform: scale(1.05);
     box-shadow: 0 0 20px rgba(37, 8, 43, 0.5);
     filter: drop-shadow(0 0 15px #0e046d) drop-shadow(0 0 30px #08072c);
   }
   .landing-page-left {
     width: 550px
   }
/*events card*/
.Events-container  {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.Events-container span {
  font-size: 18px;
  font-weight: bold;
  color: #1b24ad;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.Events-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.Events-Header h1 {
  font-size: 28px;
  margin: 0;
  color: #070488;
}

.Event-cards {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  padding: 5px 0;
}

.card {
  width: 280px;
  height: 290px; 
}

.card-effect {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
 box-shadow: 0 0 10px rgba(37, 8, 43, 0.3);
 transition: transform 0.3s ease, box-shadow 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(66, 54, 240, 0.3));
}

.card .thumb {
  width: 100%;
  height: 170px;
  object-fit: contain;
  background-color: #0d122b;
  display: block;
}

.card-info {
  background-color: #5045ee;
  height: 170px;
  padding: 10px;
  color: white;
  box-sizing: border-box; 
}

.card-name p {
  color: #d1cfff;
  margin: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.card-name h3 {
  margin: 8px 0 0 0;
  font-size: 1.4rem;
}

.card-effect:hover {
   transform: scale(1.05);
 box-shadow: 0 0 20px rgba(37, 8, 43, 0.5);
  filter: drop-shadow(0 0 15px #0e046d) drop-shadow(0 0 30px #08072c);
}
   
   